In [1]:
import pandas as pd

df = pd.read_csv('/Users/abc/Desktop/Takeaway.com/Raw dataset/metadata_category_clothing_shoes_and_jewelry_only.csv')
df.head()

,metadataid,asin,salesrank,imurl,categories,title,description,price,related,brand
0,2005401,B00004SR8Z,{'Clothing': 1631},http://ecx.images-amazon.com/images/I/41RfWLMD...,"[['Clothing, Shoes & Jewelry', 'Luggage & Trav...",Lewis N. Clark Deluxe Neck Stash,NaN,12.80,"{'also_bought': ['B004RJWFDU', 'B00920ZC3O', '...",Lewis N. Clark
1,2217897,B0000ZE74A,{'Clothing': 4742},http://ecx.images-amazon.com/images/I/41ryA-RO...,"[['Clothing, Shoes & Jewelry', 'Women', 'Cloth...",Vanity Fair Women's Lollipop Plus Size Cuff Le...,NaN,NaN,"{'also_bought': ['B004PEHJ6U', 'B0000TF5VK', '...",NaN
2,2220611,B00012O12A,{'Clothing': 4},http://ecx.images-amazon.com/images/I/41Dd7rCH...,"[['Clothing, Shoes & Jewelry', 'Men', 'Clothin...",Levi's Men's 505 Regular-Fit Jean,NaN,NaN,"{'also_bought': ['B0018OR118', 'B003M2X1VI', '...",NaN
3,2324985,B0002XSXWC,{'Clothing': 300},http://ecx.images-amazon.com/images/I/41-HS7D7...,"[['Sports & Outdoors', 'Clothing', 'Men', 'Shi...",Columbia Men's Bonehead Short Sleeve Fishing S...,NaN,NaN,"{'also_bought': ['B0031RFWMU', 'B0050VLSLO', '...",NaN
4,2348742,B00066TWMU,{'Clothing': 1199},http://ecx.images-amazon.com/images/I/51UNLUB4...,"[['Clothing, Shoes & Jewelry', 'ASICS'], ['Clo...",ASICS Mesh Backpack,NaN,12.41,"{'also_bought': ['B009DB3RS4', 'B001PFA35G', '...",ASICS

In [2]:
df.shape

(23033, 10)

In [10]:
elec = pd.read_csv('/Users/abc/Desktop/Takeaway.com/Raw dataset/reviews_Electronics_5.csv',nrows=100000)

elec.shape

(100000, 10)

In [11]:
elec.to_csv('/Users/abc/Desktop/Takeaway.com/Downsized dataset/reviews_Electronics_downsize.csv', index=False, header=True)

In [12]:
clothing = pd.read_csv('/Users/abc/Desktop/Takeaway.com/Raw dataset/reviews_Clothing_Shoes_and_Jewelry_5.csv',nrows=100000)

clothing.shape

(100000, 10)

In [13]:
clothing.to_csv('/Users/abc/Desktop/Takeaway.com/Downsized dataset/reviews_Clothing_downsize.csv', index=False, header=True)

In [14]:
movie = pd.read_csv('/Users/abc/Desktop/Takeaway.com/Raw dataset/reviews_Clothing_Shoes_and_Jewelry_5.csv',nrows=100000)

movie.shape

(100000, 10)

In [15]:
movie.to_csv('/Users/abc/Desktop/Takeaway.com/Downsized dataset/reviews_Movies_downsize.csv', index=False, header=True)

In [16]:
books = pd.read_csv('/Users/abc/Desktop/Takeaway.com/Raw dataset/reviews_Books_5.csv',nrows=100000)

books.shape

(100000, 10)

In [17]:
books.to_csv('/Users/abc/Desktop/Takeaway.com/Downsized dataset/reviews_Books_downsize.csv', index=False, header=True)

In [21]:
books.head()

,Unnamed: 0,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,0,A10000012B7CGYKOMPQ4L,000100039X,Adam,"[0, 0]",Spiritually and mentally inspiring! A book tha...,5.0,Wonderful!,1355616000,"12 16, 2012"
1,1,A2S166WSCFIFP5,000100039X,"adead_poet@hotmail.com ""adead_poet@hotmail.com""","[0, 2]",This is one my must have books. It is a master...,5.0,close to god,1071100800,"12 11, 2003"
2,2,A1BM81XB4QHOA3,000100039X,"Ahoro Blethends ""Seriously""","[0, 0]",This book provides a reflection that you can a...,5.0,Must Read for Life Afficianados,1390003200,"01 18, 2014"
3,3,A1MOSTXNIO5MPJ,000100039X,Alan Krug,"[0, 0]",I first read THE PROPHET in college back in th...,5.0,Timeless for every good and bad time in your l...,1317081600,"09 27, 2011"
4,4,A2XQ5LZHTD4AFT,000100039X,Alaturka,"[7, 9]",A timeless classic. It is a very demanding an...,5.0,A Modern Rumi,1033948800,"10 7, 2002"

In [18]:
meta = pd.read_csv('/Users/abc/Desktop/Takeaway.com/Raw dataset/metadata.csv',nrows=100000)

meta.shape

(100000, 10)

In [19]:
meta.to_csv('/Users/abc/Desktop/Takeaway.com/Downsized dataset/metadata_downsize.csv', index=False, header=True)

In [20]:
meta.head()

,Unnamed: 0,asin,salesRank,imUrl,categories,title,description,price,related,brand
0,0,0001048791,{'Books': 6334800},http://ecx.images-amazon.com/images/I/51MKP0T4...,[['Books']],"The Crucible: Performed by Stuart Pankin, Jero...",NaN,NaN,NaN,NaN
1,1,0000143561,{'Movies & TV': 376041},http://g-ecx.images-amazon.com/images/G/01/x-s...,"[['Movies & TV', 'Movies']]","Everyday Italian (with Giada de Laurentiis), V...","3Pack DVD set - Italian Classics, Parties and ...",12.99,"{'also_viewed': ['B0036FO6SI', 'B000KL8ODE', '...",NaN
2,2,0000037214,{'Clothing': 1233557},http://ecx.images-amazon.com/images/I/31mCncNu...,"[['Clothing, Shoes & Jewelry', 'Girls'], ['Clo...",Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,NaN,6.99,"{'also_viewed': ['B00JO8II76', 'B00DGN4R1Q', '...",Big Dreams
3,3,0000032069,NaN,http://ecx.images-amazon.com/images/I/51EzU6qu...,"[['Sports & Outdoors', 'Other Sports', 'Dance'...",Adult Ballet Tutu Cheetah Pink,NaN,7.89,"{'also_bought': ['0000032050', 'B00D0DJAEG', '...",BubuBibi
4,4,0000031909,{'Toys & Games': 201847},http://ecx.images-amazon.com/images/I/41xBoP0F...,"[['Sports & Outdoors', 'Other Sports', 'Dance']]",Girls Ballet Tutu Neon Pink,High quality 3 layer ballet tutu. 12 inches in...,7.00,"{'also_bought': ['B002BZX8Z6', 'B00JHONN1S', '...",Unknown

In [10]:
# Random Sample Using Python Pandas read_csv option skiprows. Read About 10% of Cases

import pandas as pd
import random

train = pd.read_csv('/Users/abc/Desktop/Takeaway.com/Raw dataset/metadata.csv', skiprows = lambda i: random.random() > 0.05)

In [3]:
train.shape

(470718, 10)

In [4]:
train.to_csv('/Users/abc/Desktop/Takeaway.com/Downsized dataset/metadata_sampling5%.csv', index=False, header=True)